body{
    background-image: url(../img/plumas.jpg);
    background-size: 200px;
    background-repeat: repeat;
}

p{
    margin-right: 500px;
    font-size: 20px;
    background-color: rgba(225, 225, 225, 0.5);
}